{% extends "brb/layout.html" %}

{% block body %}
    <div class="w-100 p-4">
        {% if user.is_authenticated %}
            Hi! <strong>{{ user }} </strong>
            </br>
            Current Time: <strong>{{ time|date:'H:i (Y/m/d)' }}</strong></br></br>  
            {% if status %} 
                <div class="card mx-auto container-sm" >                            
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Active Away Status: Yes <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg></h5>
                        <p class="card-text" style="color: black;">Reason: <strong>{{ data.reason }}</strong></p>
                        <p class="card-text" style="color: black;">Estimated Return: <strong>{{ data.return_time|date:'H:i' }} </strong></p>
                        <form action="{% url 'startpage' %}" method="post">
                            {% csrf_token %}
                            <input name="reset" class="btn btn-warning" type="submit" value="Remove Status">
                        </form>
                    </div>
                </div>
                <br>    
            {% else %}
                <div class="card mx-auto container-sm">                            
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">Active Away Status: No <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-slash-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.646-2.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 .708.708l6-6z"/>
                            </svg></h5>
                    </div>
                </div>
                </br>
            {% endif %}
            <strong>{{ message }}</strong>
            <div class="card mx-auto bg-dark text-bg-dark p-4 container-sm">
                {% if status %}<h3>Update Status</h3>{% else %} <h3>New Status</h3>{% endif %}</br>
                
                <form action="{% url 'startpage' %}" method="post">
                {% csrf_token %} 
                        <div class="form-group">
                            <label for="reason" class="form-label">Reason</label>   
                            <input class="form-control" autofocus type="text" name="reason" placeholder="Reason (Can be empty)">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" name="hour" placeholder="Hour" min="1" max="8">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" name="minute" placeholder="Minute" min="0" max="60">
                        </div>
                        
                        <input name="newdata" class="btn btn-primary" type="submit" value="Submit"></br>
                </form>
            </div>
            </br></br>
            <a href={% url 'logout' %}>Logout</a>
        {% else %}
        <div class="container-xl mt-4">
            <h2 class="display-2 ">Login</h2>
            <div class="row justify-content-center">
                <div class="container-xl">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-outline mb-4">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        {% if message %}
                        <div><h4 class="display-5 p-2 text-danger">{{ message }}</h4></div>
                    {% endif %}
                        <input class="btn btn-primary btn-block p-4" type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

