<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Be Right Back{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>

    <body style="background-color:#0d1b2a;" class="mh-100 text-white mt-3 text-center">
        <div class="container-fluid">
            <h1 class="display-1 font-weight-bold">Be Right Back</h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
